/* Estilos para dispositivos de tela grande (acima de 400px de largura) */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #ffddd2;
    padding: 0;
}

a {
    text-decoration: none;
    color: lightpink;
    font-size: 30px;
}

.cabecalho {
    width: 100%;
    text-decoration: none;
    display: flex;
}

li {
    list-style: none;
    background-color: #e2fdff;
    padding-right: 18px;
}

h1 {
    width: 100%;
    color: rgb(239, 248, 255);
    padding-left: 620px;
    font-size: 55px;
    background-color: #ffc2d1;
}

h3 {
    display: flex;
    width: 100%;
}

.item1 {
    padding-left: 160px;
}

.item1:hover {
    color: #f08080;
}

.item2 {
    padding-left: 182px;
}

.item2:hover {
    color: #f08080;
}

.item3 {
    padding-left: 200px;
}

.item3:hover {
    color: #f08080;
}

.item4 {
    padding-left: 230px;
    padding-right: 234px;
}

.item4:hover {
    color: #f08080;
}

footer {
    width: 100%;
    font-size: 20px;
    padding: 15px;
    margin-top: 40px;
    display: flex; 
}


p {
    padding-top: 25px;
    font-size: 45px;
    color: rgb(245, 66, 161);
    width: 100%;
    text-align: center;
}

.texto li {
    font-size: 28px;
    color: black;
    margin-left: 60px;
    padding-right: 35px;
    list-style: disc;
    padding-top: 35px;
    background-color: #ffddd2;
    
}


.pesquisa {
    font-size: 45px;
    color: rgb(33, 30, 32);
}

.pesquisa:hover {
    color: #c9184a;
}

.informações {
    display: flex;
    padding-top: 45px;
}

img {
    width: 30%;
    height: 10%;
    padding-left: 30px;
    padding-top: 10px;
}



@media screen and (max-width: 720px) {
    
    body {
        background-color: #ffddd2;
        width: 100%;
    }
    
    a {
        text-decoration: none;
        color: lightpink;
        font-size: 30px;
    }
    
    .cabecalho {
        width: 100%;
        text-decoration: none;
        display: flex;
    }
    
    li {
        list-style: none;
        background-color: #e2fdff;
        padding-right: 18px;
    }
    
    h1 {
        width: 100%;
        color: rgb(239, 248, 255);
        padding-left: 500px;
        font-size: 150px;
        background-color: #ffc2d1;
    }
    
    h3 {
        display: flex;
        margin-top: 0px;
        width: 100%;
        font-size: 80px;
    }
    
    .item1 {
        padding-left: 160px;
        font-size: 50px;
    }
    
    .item1:hover {
        color: #f08080;
    }
    
    .item2 {
        padding-left: 182px;
        font-size: 50px;
    }
    
    .item2:hover {
        color: #f08080;
    }
    
    .item3 {
        padding-left: 200px;
        font-size: 50px;
    }
    
    .item3:hover {
        color: #f08080;
    }
    
    .item4 {
        padding-left: 230px;
        padding-right: 234px;
        font-size: 50px;
    }
    
    .item4:hover {
        color: #f08080;
    }
    
    footer {
        font-size: 70px;
        margin-top: 200px;
        background-color: #ffc2d1;
        width: 1815px;
        padding-left: 100px;
    }
    
    p {
        padding-top: 75px;
        font-size: 90px;
        color: rgb(245, 66, 161);
        width: 1600px;
        padding-left: 220px;
    }
    
    .texto li {
        font-size: 120px;
        color: black;
        padding-left: 60px;
        padding-top: 80px;
        background-color: #ffddd2;
        width: 950px;
    }
    
    .pesquisa  {
        font-size: 90px;
        color: rgb(33, 30, 32);
        padding-left: 10px;
    }
    
    .pesquisa:hover {
        color: #c9184a;
    }
    
    .informações {
        display: flex;
        padding-top: 45px;
    }
    
    img {
        width: 600px;
        height: 800px;
        padding-left: 80px;
        padding-top: 50px;
        
    }
    .imagens{
        display: flex;
        flex-direction: column;
    }
    .final{
        max-width: 100%;
        max-height: 100%;
        margin-right:0px;
    }

    .titulo{
    text-align: center;
    display: contents;
    }
    
    .texto{
        font-size: 200px;
        padding-left: 170px;
    }


}