*{
    padding: 0 ;
    margin:  0 ;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #ffddd2;
}

footer{
    background-color:#ffc2d1;
    font-size: 30px;
    padding: 15px;
    padding-left: 50px;
}

a{
    text-decoration: none;
    color: lightpink;
    font-size: 30px;
}

.cabecalho{
    width: 100%;
    text-decoration: none;
    display: flex;
}

li{
    list-style: none;
    background-color:#e2fdff;
    height: 45px;
    padding-top: 6px;
}

h1{
    width: 100%;
    color: rgb(239, 248, 255);
    padding-left: 660px;
    font-size: 55px; 
    background-color: #ffc2d1;
}

h3{
    display: flex;
    width: 100%;
}

.p1{
    padding-top: 5px;
    padding-left: 40px;
    padding-right:40px;
    font-size: 28px;
}

.item1{
    padding-left: 160px;
}

.item1:hover{
    color: #f08080;
}

.item2{
    padding-left: 180px;

}

.item2:hover{
    color: #f08080;
}

.item3{
    padding-left: 200px;

}

.item3:hover{
    color: #f08080;
}

.item4{
    padding-left: 230px;
    padding-right: 243px;
}

.item4:hover{
    color: #f08080;
}

.imagens{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

img{
    width: 650px;
    height: 450px;
    border-radius: 60px 50px 50px 60px;
}

.classe1{
    color:rgb(245, 66, 161) ;
    padding-left: 90px;
    font-size: 35px;
}

.classe1:hover{
    color: #c9184a
}

.classe2{
    color:rgb(245, 66, 161) ;
    padding-left: 105px;
    font-size: 35px;
}

.classe2:hover{
    color: #c9184a
}

.classe3{
    color:rgb(245, 66, 161) ;
    padding-left: 130px;
    font-size: 35px;
}

.classe3:hover{
    color: #c9184a
}

.album-texto{
    display: flex;
    padding-bottom: 200px;
    width: 100%;
}

p{
    padding-top: 30px;
    padding-left: 50px;
}

.citacao{
    font-size: 30px;
    color: #f08080;
}

@media screen and (max-width: 720px) {
    
    
    body {
        background-color: #ffddd2;
    }
    
    a {
        text-decoration: none;
        color: lightpink;
        font-size: 30px;
    }
    
    .cabecalho {
        width: 100%;
        text-decoration: none;
        display: flex;
    }

    li {
        list-style: none;
        background-color: #e2fdff;
        height: 50px;
        width: 121px;
    }
    
    h1 {
        padding-left: 150px;
        color: rgb(239, 248, 255);
        font-size: 60px;
        background-color: #ffc2d1;
        width: 484px;
    }
    
    h3 {
        display: flex;
        font-size: 30px;
    }
    
    .item1 {
        font-size: 20px;
        padding: 13%;
    }
    
    .item2 {
        font-size: 20px;
        padding: 0%;
    }
    
    
    .item3 {
        font-size: 20px;
        padding: 25%;
    }
    
    
    .item4 {
        font-size: 20px;
        padding: 3%;
    }
    

    footer {
        background-color: #ffc2d1;
        font-size: 30px;
        padding: 15px;
        margin-top: 100px;
        width:490px;
        padding-left: 50px;
    }
    
    p {
        padding-top: 75px;
        font-size: 45px;
    }
    
    img {
        width:400px;
        height: 300px;
        padding-left: 100px;
        margin-top: 50px;
        border-radius: 123px 30px 30px 115px;
    }

    .classe1{
        color:rgb(245, 66, 161) ;
        padding-left: 90px;
        font-size: 40px;
    }

    .classe2{
        color:rgb(245, 66, 161) ;
        padding-left: 100px;
        font-size: 40px;
    }
    
    .classe3{
            color:rgb(245, 66, 161) ;
            padding-left: 150px;
            font-size: 40px;
        }
    
    .p1{
        padding-top: 50px;
        padding-left: 25px;
        font-size: 30px;
        width: 500px;
    }

    .album-texto{
        display: flex;
        flex-direction: column;
    }

    .citacao{
        font-size: 25px;
        color: #f08080;
        padding-top: 50px;
        width: 100%;
        padding-left: 15px;
    }
}